.mat-dialog-container {
  padding: 0;
}

.list-content {
  max-height: 250px;
  overflow: auto;
}


#title-container {
  background-color: #ff4444;
  color: white;
}

#title {
  text-align: center;
}

#content-container {
  margin-top: 15px;
}
