.header{
  display: inline-block;
  position: relative;
  text-align: left;
}

.tree-wrapper{
  margin: 16px;
  display: inline-block;
  position: relative;
  text-align: left;
  width: 400px;
  background: rgba(0, 0, 0, 0);
}

.tree-wrapper-invisible{
  display: none;
}
