<!-- Link-Dropdown -->
<button *ngIf="isDisableable" class="float-right" mat-icon-button color="warn" id="cancel-button" (click)="onDisable()">
  <mdb-icon fas icon="times-circle"></mdb-icon>
</button>
<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>{{ linkObject.title }}</mat-label>
  <input matInput [matAutocomplete]="auto" [placeholder]="linkObject.subtitle"
         (input)="onLinkSearchChange()" [(ngModel)]="linkSearchText">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onLinkElement($event.option.value)">
    <mat-option *ngFor="let linkData of linkObject.data" [value]="linkData">
      <div class="d-flex flex-column">
        <div class="p-2">
          <span>{{ linkData[linkObject.displayVariable] }}</span>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
