<div class="action-button-row" *ngIf="providers.length === 0">
  <button mat-raised-button color="primary" (click)="createProvider()">Add provider</button>
  <button mat-raised-button color="accent" (click)="createProviderWithJson()">Import JSON</button>
</div>
<mat-drawer-container class="entity-container">
  <mat-drawer mode="side" opened>
    <div *ngFor="let provider of providers" (click)="makeSelectedProvider(provider)">
      <button class="entity-content" mat-button [color]="getColorOfProviderButton(provider.id)">
        <mat-icon mat-list-icon>cloud</mat-icon>
        {{provider.name}}
      </button>
      <mat-divider></mat-divider>
    </div>
    <div class="action-button-row">
      <button mat-raised-button color="primary" (click)="createProvider()">Add provider</button>
      <button mat-raised-button color="accent" (click)="createProviderWithJson()">Import JSON</button>
    </div>
  </mat-drawer>
  <mat-drawer-content *ngIf="selectedProvider">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedProvider.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="entity-content">
          <h3>Access Key</h3>
          {{selectedProvider.accessKey}}
        </div>
        <mat-divider></mat-divider>
        <div class="entity-content">
          <h3>Secret Key</h3>
          {{selectedProvider.secretKey}}
        </div>
        <mat-divider></mat-divider>
        <app-qpus [selectedProvider]="selectedProvider"></app-qpus>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
