<div *ngIf="algorithm" class="m-2">
  <div class="header-container p-2">
    <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
    <app-tags-component [allowRemoving]="true"></app-tags-component>
  </div>

  <mat-tab-group>
    <mat-tab label="General">
      <app-algorithm-properties
        [algorithm]="algorithm"
        [applicationAreas]="applicationAreas"
        [problemTypes]="problemTypes"
        (updateAlgorithmField)="updateAlgorithmField($event)"
        (addApplicationArea)="addApplicationArea($event)"
        (removeApplicationArea)="removeApplicationArea($event)"
        (addProblemType)="addProblemType($event)"
        (removeProblemType)="removeProblemType($event)"
      ></app-algorithm-properties>
    </mat-tab>
    <mat-tab label="Implementations">
      <app-algorithm-implementations-list
        [algorithm]="algorithm"
      ></app-algorithm-implementations-list>
    </mat-tab>
    <mat-tab label="Related algorithms">
      <app-algorithm-related-algos-list
        [algorithm]="algorithm"
      ></app-algorithm-related-algos-list>
    </mat-tab>
    <mat-tab label="Publications">
      <app-algorithm-publications-list
        [algorithm]="algorithm"
      ></app-algorithm-publications-list>
    </mat-tab>
    <mat-tab label="NISQ Analyser">
      <app-algorithm-nisq-analyzer></app-algorithm-nisq-analyzer>
    </mat-tab>
    <mat-tab label="Discussion">
      <h1>Discussion WIP</h1>
    </mat-tab>
  </mat-tab-group>
</div>
