<div *ngIf="algorithm" class="m-2">
  <div class="header-container p-2">
    <navigation-breadcrumb [links]="links"></navigation-breadcrumb>
    <div>
      <mat-chip-list>
        <mat-chip
          *ngFor="let tag of testTags"
          [removable]="true"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip class="clickable-chip" (click)="addTag()">
          <mat-icon>add</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="General">
      <app-algorithm-properties
        [algorithm]="algorithm"
        [linkedApplicationAreas]="applicationAreas"
        [problemTypes]="problemTypes"
        (updateAlgorithmField)="updateAlgorithmField($event)"
        (addApplicationArea)="addApplicationArea($event)"
        (removeApplicationArea)="removeApplicationArea($event)"
        (addProblemType)="addProblemType($event)"
        (removeProblemType)="removeProblemType($event)"
      ></app-algorithm-properties>
    </mat-tab>
    <mat-tab label="Implementations">
      <app-algorithm-implementations-list
        [algorithm]="algorithm"
      ></app-algorithm-implementations-list>
    </mat-tab>
    <mat-tab label="Related algorithms">
      <app-algorithm-related-algos-list
        [algorithm]="algorithm"
      ></app-algorithm-related-algos-list>
    </mat-tab>
    <mat-tab label="Related patterns">
      <app-algorithm-related-patterns
        [algorithm]="algorithm"
      ></app-algorithm-related-patterns>
    </mat-tab>
    <mat-tab label="Publications">
      <app-algorithm-publications-list
        [algorithm]="algorithm"
      ></app-algorithm-publications-list>
    </mat-tab>
    <mat-tab label="NISQ Analyzer">
      <app-algorithm-nisq-analyzer></app-algorithm-nisq-analyzer>
    </mat-tab>
    <mat-tab label="Discussion">
      <h1>Discussion WIP</h1>
    </mat-tab>
  </mat-tab-group>
</div>
