@import '~@angular/material/theming';

html, body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
}

.action-button-row {
  text-align: center;
  margin-top: 20px;
}

.action-button-row button,
.action-button-row a {
  margin-right: 8px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.input-field {
  width: 100%;
}

@include mat-core();
$qc-atlas-ui-primary: mat-palette($mat-indigo);
$qc-atlas-ui-accent: mat-palette($mat-grey, A200, A100, A400);

$qc-atlas-ui-warn: mat-palette($mat-red);

$qc-atlas-ui-theme: mat-light-theme($qc-atlas-ui-primary, $qc-atlas-ui-accent, $qc-atlas-ui-warn);

@include angular-material-theme($qc-atlas-ui-theme);
