<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-tab-group [selectedIndex]="this.activeIndex" (selectedIndexChange)="tabIndexChanged($event)"
                   backgroundColor="primary">
      <mat-tab label="Algorithms"></mat-tab>
      <mat-tab label="Providers"></mat-tab>
      <mat-tab label="SDKs"></mat-tab>
      <mat-tab label="Tags"></mat-tab>
    </mat-tab-group>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="entity-container">
  <mat-drawer mode="side" opened>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let algorithm of algorithms">
        <mat-expansion-panel-header (click)="algorithmSelected(algorithm)">
          <mat-panel-title>
            <button mat-button [color]="getAlgoColor(algorithm.id)">
              <mat-icon mat-list-icon>developer_board</mat-icon>
              {{algorithm.name}}
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!(implementations.length > 0)">
          No implementations yet.
        </div>
        <div *ngFor="let implementation of implementations">
          <button mat-button (click)="openImplementation(implementation)" [color]="getImplColor(implementation.id)">
            <mat-icon>settings_ethernet</mat-icon>
            {{implementation.name}}
          </button>
        </div>
        <div class="action-button-row">
          <button mat-raised-button color="primary" (click)="addImpl()">Add implementation</button>
          <button mat-raised-button color="accent" (click)="importImplJSON()">Import JSON</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="action-button-row">
      <button mat-raised-button color="primary" (click)="addAlgo()">Add algorithm</button>
      <button mat-raised-button color="accent" (click)="importJSON()">Import JSON</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="implementationOpened; then showImpl else showAlgo"></div>
    <ng-template #showAlgo>
      <mat-card *ngIf="selectedAlgorithm">
        <mat-card-header>
          <mat-card-title>{{selectedAlgorithm.name}}</mat-card-title>
          <mat-card-subtitle>Id: {{selectedAlgorithm.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="entity-content">
            <h3>Content</h3>
            {{selectedAlgorithm.content.description}}
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Input Parameters
              <button (click)="addParameter('input')" mat-button>
                <mat-icon>add</mat-icon>
              </button>
            </h3>
            <table mat-table [dataSource]="selectedAlgorithm.inputParameters.parameters" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="restriction">
                <th mat-header-cell *matHeaderCellDef>Restriction</th>
                <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedParametersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedParametersColumns;"></tr>
            </table>
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Output Parameters
              <button (click)="addParameter('output')" mat-button>
                <mat-icon>add</mat-icon>
              </button>
            </h3>
            <table mat-table [dataSource]="selectedAlgorithm.outputParameters.parameters" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="restriction">
                <th mat-header-cell *matHeaderCellDef>Restriction</th>
                <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedParametersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedParametersColumns;"></tr>
            </table>
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Tags</h3>
            <table mat-table [dataSource]="selectedAlgorithm.tags" class="mat-elevation-z0">
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef>Key</th>
                <td mat-cell *matCellDef="let element">{{element.key}}</td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">{{element.value}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedTagsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedTagsColumns;"></tr>
            </table>
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Implementations</h3>
            <table mat-table [dataSource]="implementations" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="openImplementation(element)">{{element.name}}</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="sdk">
                <th mat-header-cell *matHeaderCellDef>SDK</th>
                <td mat-cell *matCellDef="let element">{{element.sdk}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedImplementationColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedImplementationColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #showImpl>
      <mat-card *ngIf="selectedAlgorithm">
        <mat-card-header>
          <mat-card-title>{{selectedAlgorithm.name}}</mat-card-title>
          <mat-card-subtitle>Implementation: {{selectedImplementation.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="entity-content">
            <h3>Programming language</h3>
            {{selectedImplementation.programmingLanguage}}
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>File location</h3>
            {{selectedImplementation.fileLocation}}
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Selection rule</h3>
            {{selectedImplementation.selectionRule}}
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>SDK</h3>
            {{selectedImplementation.sdk}}
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Content</h3>
            {{selectedImplementation.content}}
          </div>
          <div class="entity-content">
            <h3>Input Parameters</h3>
            <table mat-table [dataSource]="selectedImplementation.inputParameters.parameters" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="restriction">
                <th mat-header-cell *matHeaderCellDef>Restriction</th>
                <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedParametersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedParametersColumns;"></tr>
            </table>
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Output Parameters</h3>
            <table mat-table [dataSource]="selectedImplementation.outputParameters.parameters" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="restriction">
                <th mat-header-cell *matHeaderCellDef>Restriction</th>
                <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedParametersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedParametersColumns;"></tr>
            </table>
          </div>
          <div class="entity-content">
            <h3>Tags</h3>
            <table mat-table [dataSource]="selectedImplementation.tags" class="mat-elevation-z0">
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef>Key</th>
                <td mat-cell *matCellDef="let element">{{element.key}}</td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">{{element.value}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="restriction">
                <th mat-header-cell *matHeaderCellDef>Restriction</th>
                <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedTagsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedTagsColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>

