<app-table [data]=implementations
           [variableNames]=variableNames
           [dataColumns]=tableColumns
           [allowAdd]=true
           [allowDelete]=true
           [allowSearch]=true
           [allowSort]=true
           [pagination]=pagingInfo
           [paginatorConfig]=paginatorConfig
           (addElement)="onAddImplementation()"
           (deleteElements)="onDeleteImplementation($event)"
           (datalistConfigChanged)="onDatalistConfigChanged($event)"
           (pageChange)="onPageChanged($event)"
           (elementClicked)="onImplementationClicked($event)">
</app-table>
