<mat-card class="m-4">
  <div class="mx-3 mb-2">
    <app-table [data]=computeResources
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [allowAdd]=true
               [allowSelection]=true
               [allowSearch]=true
               [allowSort]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No compute resources found'"
               (elementClicked)="onComputeResourceClicked($event)"
               (addElement)="onCreateComputeResource()"
               (submitSelectedElements)="onDeleteComputeResources($event)"
               (datalistConfigChanged)="getComputeResources($event)"
               (pageChange)="getComputeResourcesHateoas($event)">
    </app-table>
  </div>
</mat-card>
