<mat-card>
  <mat-card-header>
    <mat-card-title>{{selectedAlgorithm.name}}</mat-card-title>
    <mat-card-subtitle>Implementation: {{selectedImplementation.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="entity-content">
      <h3>File location</h3>
      {{selectedImplementation.fileLocation}}
    </div>
    <mat-divider></mat-divider>
    <div class="entity-content">
      <h3>Description</h3>
      {{selectedImplementation.description}}
    </div>
    <div class="entity-content">
      <h3>Tags</h3>
      <table mat-table [dataSource]="this.tags" class="mat-elevation-z0">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element">{{element.key}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{element.value}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container matColumnDef="restriction">
          <th mat-header-cell *matHeaderCellDef>Restriction</th>
          <td mat-cell *matCellDef="let element">{{element.restriction}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedTagsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTagsColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
