<h2>Required information for the NISQ Analyzer</h2>
<div class="d-flex justify-content-between header-container">
  <h4>Input Parameters</h4>
  <div class="d-flex">
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Add Input Parameter"
      (click)="addOne()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      *ngIf="!selection.isEmpty()"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Remove selected parameters"
      (click)="deleteMany()"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
<div *ngFor="let param of params; let i = index">
  <mat-card class="m-4">
    <div class="d-flex justify-content-between align-self-center">
      <div class="align-self-center">
        <mat-checkbox
          color="warn"
          [checked]="selection.isSelected(i)"
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(i) : null"
        ></mat-checkbox>
      </div>
      <app-text-input
        class="p-2"
        name="Name of the Parameter"
        [(ngModel)]="param.name"
      ></app-text-input>
      <app-text-input
        class="w-50 p-2"
        name="Description"
        prolog
        [(ngModel)]="param.description"
      ></app-text-input>
      <app-select-input
        class="w-25 p-2"
        name="Datatype"
        [(ngModel)]="param.datatype"
        [choices]="[
          { value: 'Integer', label: 'Integer' },
          { value: 'Float', label: 'Float' },
          { value: 'String', label: 'String' }
        ]"
      ></app-select-input>
      <app-text-input
        class="w-25 p-2"
        name="Restriction"
        [(ngModel)]="param.restriction"
      ></app-text-input>
    </div>
  </mat-card>
</div>
<h4>Prolog Rules</h4>
<mat-card class="m-4">
  <app-prolog-input
    class="p-2"
    name="Selection Rule (in PROLOG)"
    [(ngModel)]="selectionRule"
  ></app-prolog-input>
  <div class="d-flex justify-content-between">
    <app-prolog-input
      class="w-50 p-2"
      name="Width Rule (in PROLOG)"
      [(ngModel)]="widthRule"
    ></app-prolog-input>
    <app-prolog-input
      class="w-50 p-2"
      name="Depth Rule (in PROLOG)"
      [(ngModel)]="depthRule"
    ></app-prolog-input>
  </div>
</mat-card>
