<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="algorithmForm">
    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" matInput required>
    </mat-form-field>
  </form>
  <mat-form-field class="input-field">
    <mat-label>Computation model</mat-label>
    <mat-select [(ngModel)]="data.computationModel" required>
      <mat-option [value]="'CLASSIC'">Classic</mat-option>
      <mat-option [value]="'QUANTUM'">Quantum</mat-option>
      <mat-option [value]="'HYBRID'">Hybrid</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="data.computationModel === 'QUANTUM'">
    <mat-form-field class="input-field">
      <mat-label>Quantum Computation model</mat-label>
      <mat-select [(ngModel)]="data.quantumComputationModel" required>
        <mat-option [value]="'GATE_BASED'">Gate Based</mat-option>
        <mat-option [value]="'MEASUREMENT_BASED'">Measurement Based</mat-option>
        <mat-option [value]="'QUANTUM_ANNEALING'">Quantum Annealing</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Ok
  </button>
</div>
