<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-selection-list *ngIf="data.existingProblemTypes"
                      [(ngModel)]="data.selectedProblemTypes">
    <mat-label>Problem types</mat-label>
    <mat-list-option *ngFor="let type of data.existingProblemTypes"
                     [value]="type"
                     color="warn">
      {{type.name}}
    </mat-list-option>
  </mat-selection-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button
          [disabled]="isRequiredDataMissing()"
          [mat-dialog-close]="data">
    Remove
  </button>
</div>
