<div class="m-4">

  <app-property-input [name]="'Acronym'"
                      [value]="algorithm.acronym"
                      (onSaveChanges)="onChangesSaved($event)"></app-property-input>

  <app-property-input [name]="'Intent'"
                      [value]="algorithm.intent"
                      [maxRows]="5"
                      (onSaveChanges)="onChangesSaved($event)"></app-property-input>

  <app-property-input [name]="'Problem'"
                      [value]="algorithm.problem"
                      [maxRows]="5"></app-property-input>

  <!-- TODO: Add problem types -->

  <app-chip-collection [title]="'Application areas'"
                       [elements]="algorithm.applicationAreas"
                       (onAddElement)="addApplicationAreaEvent($event)"
                       (onRemoveElement)="removeApplicationAreaEvent($event)"></app-chip-collection>

  <!-- TODO: Add related patterns -->

  <app-property-input [name]="'Input format'"
                      [value]="algorithm.inputFormat"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'Parameters'"
                      [value]="algorithm.algoParameter"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'Output format'"
                      [value]="algorithm.outputFormat"
                      [maxRows]="5"></app-property-input>

  <div class="m-4">
    <mat-label class="property-label">Requires compute resources</mat-label>
    <mat-list>
      <mat-list-item *ngFor="let property of computeResourceProperties">
        {{property.type.name}}: {{property.type.datatype.toLowerCase()}} = {{property.value}}
      </mat-list-item>
    </mat-list>
  </div>

  <app-property-input [name]="'Solution'"
                      [value]="algorithm.solution"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'assumptions'"
                      [value]="algorithm.assumptions"
                      [maxRows]="5"></app-property-input>
  <!-- TODO: finish Sketch -->
  <br>
  <mat-form-field class="m-4" appearance="fill">
    <mat-label>Sketch type</mat-label>
    <mat-select [(ngModel)]="algorithm.sketch">
      <mat-option *ngFor="let option of sketchOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
