<div class="algorithm-properties-container">

  <app-property-input [name]="'Acronym'"
                      [value]="algorithm.acronym"
                      (onSaveChanges)="onChangesSaved($event)"></app-property-input>

  <app-property-input [name]="'Intent'"
                      [value]="'test intent'"
                      [maxRows]="5"
                      (onSaveChanges)="onChangesSaved($event)"></app-property-input>

  <app-property-input [name]="'Problem'"
                      [value]="'test problem'"
                      [maxRows]="5"></app-property-input>

  <!-- Problem types -->
  <br>
  <app-chip-collection [title]="'Application areas'"
                       [elements]="algorithm.applicationAreas"
                       (onAddElement)="addApplicationAreaEvent($event)"
                       (onRemoveElement)="removeApplicationAreaEvent($event)"></app-chip-collection>
  <br>
  <!-- Related pattern -->

  <app-property-input [name]="'Input format'"
                      [value]="'test input format'"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'Parameters'"
                      [value]="'test parameters'"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'Output format'"
                      [value]="'test output format'"
                      [maxRows]="5"></app-property-input>

  <!-- Required compute resource properties -->

  <app-property-input [name]="'Solution'"
                      [value]="'test solution'"
                      [maxRows]="5"></app-property-input>

  <app-property-input [name]="'assumptions'"
                      [value]="'test assumptions'"
                      [maxRows]="5"></app-property-input>
  <!-- Sketch -->
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Sketch type</mat-label>
    <mat-select [(ngModel)]="algorithm.sketch">
      <mat-option *ngFor="let option of sketchOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
