<div>
  <mat-chip-list>
    <mat-chip class="clickable-chip" (click)="addTag()">
      <mat-icon>add</mat-icon>
    </mat-chip>
    <mat-chip
      *ngFor="let tag of this.tags"
      [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[tag.category] : 'none' }"
      [removable]="true"
      (removed)="removeTag(tag)"
    >
      {{ tag.value }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <button mat-icon-button (click)="toggleCategories()" class="help">
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-chip-list>
  <div *ngIf="showCategories" class="categories">
    <div *ngFor="let key of getCategories()" class="m-2">
      <span class="dot" [ngStyle]="{'background-color': this.categoryToColor ? this.categoryToColor[key] : 'none'}"></span>
      {{key}}
    </div>
  </div>
</div>
