<mdb-card class="m-2">
  <div class="mx-3 mb-2">
    <app-table [data]=tableObjects
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [externalLinkVariables]=externalLinkVariables
               [allowAdd]=true
               [allowEdit]=true
               [allowSelection]=true
               [emptyTableMessage]="'No related patterns found'"
               (addElement)="onAddElement()"
               (submitSelectedElements)="onDeleteElements($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (elementClicked)="onElementClicked($event)"
               (updateClicked)="onElementClicked($event)"
               (urlClicked)="onUrlClicked($event)">
    </app-table>
  </div>
</mdb-card>
