<mat-card class="m-4">
  <div class="md-form mx-3">
    <label for="search">Search</label>
    <input
      type="text"
      [(ngModel)]="searchText"
      class="form-control"
      id="search"
      mdbInput
    />
  </div>

  <div class="mx-3">
    <h5>Software Platforms</h5>
    <app-table [data]=softwarePlatforms
               [variableNames]=variableNamesSoftwarePlatform
               [dataColumns]=tableColumnsSoftwarePlatform
               [pagination]=pagingInfoSoftwarePlatforms
               [paginatorConfig]=paginatorConfig
               (elementClicked)="onSoftwarePlatformClicked($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (pageChange)="getSoftwarePlatformsHateoas($event)">
    </app-table>
  </div>

  <div class="mx-3">
    <h5>Cloud Services</h5>
    <app-table [data]=cloudServices
               [variableNames]=variableNamesCloudServices
               [dataColumns]=tableColumnsCloudServices
               [pagination]=pagingInfoCloudServices
               [paginatorConfig]=paginatorConfig
               (elementClicked)="onCloudServiceClicked($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (pageChange)="getCloudServicesHateoas($event)">
    </app-table>
  </div>

  <div class="mx-3">
    <h5>Compute Resources</h5>
    <app-table [data]=computeResources
               [variableNames]=variableNamesComputeResources
               [dataColumns]=tableColumnsComputeResources
               [pagination]=pagingInfoComputeResources
               [paginatorConfig]=paginatorConfig
               (elementClicked)="onComputeResourceClicked($event)"
               (datalistConfigChanged)="onDatalistConfigChanged($event)"
               (pageChange)="getComputeResourcesHateoas($event)">
    </app-table>
  </div>
</mat-card>
