@import "theme";

.table-container {
  position: relative;
  left: 10%;
  width: 80%;
}

.center-checkbox {
  text-align: right;
}

.crop {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width: 50px;
}​

mat-grid-list {
  position: relative;
  left: 10%;
  width: 80%;
}

.data-header {
  background-color: mat-color($qc-atlas-ui-primary);
  font-weight: bold !important;
  color: white !important;
}

.data-element {
  transition: all .2s ease-in-out;
}

.page-control {
  display: flex;
  border-radius: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: mat-color($qc-atlas-ui-primary);
}

::ng-deep .hide-arrow .mat-sort-header-arrow {
  color: white;
}

.control-disabled {
  background-color: grey !important;
  cursor: default;
}

.current-page {
  background-color: mat-color($qc-atlas-ui-primary) !important;
  cursor: default !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.data-element:hover {
  background-color: mat-color($qc-atlas-ui-accent);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
