<app-table [data]=algorithms
           [variableNames]=variableNames
           [dataColumns]=tableColumns
           [allowAdd]=true
           [allowDelete]=true
           [allowSearch]=true
           [allowSort]=true
           [pagination]=pagingInfo
           [paginatorConfig]=paginatorConfig
           [routingVariable]="'id'"
           (addElement)="onAddElement()"
           (deleteElements)="onDeleteElements($event)"
           (datalistConfigChanged)="onDatalistConfigChanged($event)"
           (pageChange)="onPageChanged($event)">
</app-table>
