<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <img src="../assets/logo.png" style="height: 50px; margin: 5px">
    <span>QC Atlas</span>
    <mat-tab-group (selectedIndexChange)="tabIndexChanged($event)" backgroundColor="primary">
    <mat-tab label="Algorithms"></mat-tab>
    <mat-tab label="Providers"></mat-tab>
    <mat-tab label="SDKs"></mat-tab>
    <mat-tab label="Tags"></mat-tab>
    </mat-tab-group>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
