<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <img (click)="goToHome()" src="../assets/logo.png" class="logo-img">
    <span (click)="goToHome()">QC Atlas</span>
    <nav mat-tab-nav-bar class="tabs" backgroundColor="primary">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
