<div class="m-4">
  <mat-card class="px-4 my-4">
    <app-text-input class="w-100"
                    name="Licence"
                    [(ngModel)]="softwarePlatform.licence"
                    (onSaveChanges)="onChangesSaved($event, 'licence')"></app-text-input>
  </mat-card>
  <mat-card class="px-4 my-4">
    <app-text-input class="w-100"
                    name="Version"
                    [(ngModel)]="softwarePlatform.version"
                    (onSaveChanges)="onChangesSaved($event, 'version')"></app-text-input>
  </mat-card>
  <mat-card class="px-4 my-4">
    <app-text-input class="w-100"
                    name="URL"
                    [(ngModel)]="softwarePlatform.link"
                    [isLink]=true
                    (onSaveChanges)="onChangesSaved($event, 'link')"></app-text-input>
  </mat-card>
</div>

