.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-body {
  max-width: 1280px;
}
