<mat-card class="m-4">
  <div class="mx-3 mb-2">
    <app-table [data]=cloudServices
               [variableNames]=variableNames
               [dataColumns]=tableColumns
               [externalLinkVariables]=externalLinkVariables
               [allowAdd]=true
               [allowSelection]=true
               [allowSearch]=true
               [allowSort]=true
               [pagination]=pagingInfo
               [paginatorConfig]=paginatorConfig
               [emptyTableMessage]="'No cloud services found'"
               (elementClicked)="onCloudServiceClicked($event)"
               (addElement)="onCreateCloudService()"
               (submitSelectedElements)="onDeleteCloudServices($event)"
               (datalistConfigChanged)="getCloudServices($event)"
               (pageChange)="getCloudServicesHateoas($event)">
    </app-table>
  </div>
</mat-card>
