<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="implementationForm">
    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" matInput required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>File location</mat-label>
      <input id="fileLocation" formControlName="fileLocation" matInput required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Selection rule</mat-label>
      <input id="selectionRule" formControlName="selectionRule" matInput required>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Programming language</mat-label>
      <input id="programmingLanguage" formControlName="programmingLanguage" matInput required>
    </mat-form-field>
  </form>
  <mat-form-field class="input-field">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <h5 mat-dialog-title>Tag</h5>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Tag</mat-label>
    <mat-select [(ngModel)]="data.tag">
      <mat-option *ngFor="let tag of data.tags" [value]="tag">{{tag.key}} {{tag.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button
          [disabled]="isRequiredDataMissing()"
          [mat-dialog-close]="data">Ok
  </button>
</div>
