<div class="action-button-row" *ngIf="algorithms.length === 0">
  <button mat-raised-button color="primary" (click)="createAlgorithm()">Add algorithm</button>
  <button mat-raised-button color="accent" (click)="createAlgorithmWithJson()">Import JSON</button>
</div>
<mat-drawer-container class="entity-container">
  <mat-drawer mode="side" opened>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let algorithm of algorithms">
        <mat-expansion-panel-header (click)="onAlgorithmSelected(algorithm)">
          <mat-panel-title>
            <button mat-button [color]="getColorOfSelectedAlgorithm(algorithm.id)">
              <mat-icon mat-list-icon>developer_board</mat-icon>
              {{algorithm.name}}
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!implementations || !(implementations.length > 0)">
          No implementations yet.
        </div>
        <div *ngFor="let implementation of implementations">
          <button mat-button (click)="openImplementation(implementation)"
                  [color]="getColorOfSelectedImplementation(implementation.id)">
            <mat-icon>settings_ethernet</mat-icon>
            {{implementation.name}}
          </button>
        </div>
        <div class="action-button-row">
          <button mat-raised-button color="primary" (click)="createImplementation()">Add implementation</button>
          <button mat-raised-button color="accent" (click)="createImplementationWithJson()">Import JSON</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="action-button-row">
      <button mat-raised-button color="primary" (click)="createAlgorithm()">Add algorithm</button>
      <button mat-raised-button color="accent" (click)="createAlgorithmWithJson()">Import JSON</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="implementationOpened; then showImpl else showAlgo"></div>
    <ng-template #showAlgo>
      <mat-card *ngIf="selectedAlgorithm">
        <mat-card-header>
          <mat-card-title>{{selectedAlgorithm.name}}</mat-card-title>
          <mat-card-subtitle>Id: {{selectedAlgorithm.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="entity-content">
            <h3>Tags</h3>
            <table mat-table *ngIf="selectedAlgorithm" [dataSource]="this.tags" class="mat-elevation-z0">
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef>Key</th>
                <td mat-cell *matCellDef="let element">{{element.key}}</td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">{{element.value}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedTagsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedTagsColumns;"></tr>
            </table>
          </div>
          <mat-divider></mat-divider>
          <div class="entity-content">
            <h3>Implementations</h3>
            <table mat-table *ngIf="implementations" [dataSource]="implementations" class="mat-elevation-z0">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="openImplementation(element)">{{element.name}}</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedImplementationColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedImplementationColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <ng-template #showImpl>
      <app-implementations [implementations]="implementations" [selectedAlgorithm]="selectedAlgorithm"
                           [selectedImplementation]="selectedImplementation"></app-implementations>
    </ng-template>
  </mat-drawer-content>
</mat-drawer-container>

