<div class="action-button-row" *ngIf="sdks.length === 0">
  <button mat-raised-button color="primary" (click)="createSdk()">Add SDK</button>
  <button mat-raised-button color="accent" (click)="createSdkWithJson()">Import JSON</button>
</div>
<mat-drawer-container class="entity-container">
  <mat-drawer mode="side" opened>
    <div *ngFor="let sdk of sdks" (click)="makeSelectedSdk(sdk)">
      <button class="entity-content" mat-button [color]="getColorOfSdkButton(sdk.id)">
        <mat-icon mat-list-icon>code</mat-icon>
        {{sdk.name}}
      </button>
      <mat-divider></mat-divider>
    </div>
    <div class="action-button-row">
      <button mat-raised-button color="primary" (click)="createSdk()">Add SDK</button>
      <button mat-raised-button color="accent" (click)="createSdkWithJson()">Import JSON</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="sdk-content" *ngIf="selectedSdk">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{selectedSdk.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="entity-content">
          <h3>Id</h3>
          {{selectedSdk.id}}
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
