<mat-form-field>
  <mat-label class="input-label">{{ name }}</mat-label>
  <input
    #model="ngModel"
    type="text"
    [disabled]="!isBeingEdited"
    [(ngModel)]="value"
    [errorStateMatcher]="matcher"
    matInput
    prolog
  />
  <button
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="toggleEdit()"
  >
    <mat-icon>{{ isBeingEdited ? 'save' : 'edit' }}</mat-icon>
  </button>
  <mat-error *ngIf="model.errors">{{ model.errors.message || 'syntax error' }}</mat-error>
</mat-form-field>
