<mat-form-field class="input-wrapper m-4 w-25">
  <div class="m-2">
    <label class="input-label">{{name}}</label>
    <button (click)="toggleEdit()" mat-button>
      <mat-icon>{{editable ? 'save' : 'edit'}}</mat-icon>
    </button>
  </div>
  <input *ngIf="maxRows === 1"
         [disabled]=!editable
         [(ngModel)]="value" matInput>
  <textarea *ngIf="maxRows > 1"
            [matAutosizeMaxRows]=maxRows
            [matTextareaAutosize]=true
            [disabled]=!editable
            [(ngModel)]="value" matInput></textarea>
</mat-form-field>
