@import "theme";

.edit-icon {
  cursor: pointer;
  user-select: none;
}

.input-label {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .url-input {
  .mat-form-field {
    .mat-input-element {
      color: dodgerblue;
    }
    .mat-input-element:hover {
      color: mat-color($qc-atlas-ui-primary);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

mat-form-field {
  min-width: 100%;
}
