<div class="m-2">
  <h1 class="p-2">Execution Environments</h1>

  <mat-tab-group>
    <mat-tab label="Software Platforms">
      <app-software-platform-list></app-software-platform-list>
    </mat-tab>
    <mat-tab label="Cloud Services">
      <app-cloud-service-list></app-cloud-service-list>
    </mat-tab>
    <mat-tab label="Compute Resources">
      <app-compute-resource-list></app-compute-resource-list>
    </mat-tab>
    <mat-tab label="Search List">
      <app-execution-environment-search></app-execution-environment-search>
    </mat-tab>
  </mat-tab-group>
</div>
