@import "theme";

table {
  position: relative;
  left: 10%;
  width: 80%;
}

mat-grid-list {
  position: relative;
  left: 10%;
  width: 80%;
}

.data-header {
  background-color: mat-color($qc-atlas-ui-primary);
}

.data-element {
  transition: all .2s ease-in-out;
}

.data-element:hover {
  background-color: #a3dbff;
  transform: scale(1.05);
  cursor: pointer;
}

p {
  margin-top: 0 ;
  margin-bottom: 0 ;
}
