<div class="table-container table-wrapper">
  <mdb-card cascade="true" narrower="true">
    <div class="px-5">
      <div class="row">
        <div *ngIf="allowSearch" class="col-md-9 mx-auto">
          <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
        <div class="p-4 col-md-2">
          <div class="row">
            <div class="col">
              <button mdbBtn type="button" color="green" outline="true" (click)="onAdd()" mdbWavesEffect>
                <mdb-icon fas icon="plus"></mdb-icon>
              </button>
            </div>
            <div class="col">
              <button mdbBtn type="button" color="red" outline="true" (click)="onDelete()" mdbWavesEffect>
                <mdb-icon fas icon="minus"></mdb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <table id="tableSortExample" class="mb-3" mdbTable>
        <thead class="data-header">
        <tr>
          <th class="center-checkbox" scope="row" *ngIf="allowSelection">
            <mdb-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"></mdb-checkbox>
          </th>
          <th class="th-lg" *ngFor="let column of dataColumns; let i = index"  aria-controls="tableSortExample" scope="col" [mdbTableSort]="data" [sortBy]="dataColumns[i]">
            <a>{{ column }}</a>
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="data-element" *ngFor="let dataEntry of data">
          <th class="center-checkbox" scope="row" *ngIf="allowSelection">
            <mdb-checkbox [checked]="selection.isSelected(dataEntry)" (click)="$event.stopPropagation()"
                          (change)="$event ? rowToggle(dataEntry, !selection.isSelected(dataEntry)) : null"></mdb-checkbox>
          </th>
          <td class="crop" *ngFor="let variableName of variableNames">{{ dataEntry[variableName] }}</td>
        </tr>
        </tbody>
        <tfoot *ngIf="pagination">
        <tr>
          <td colspan="1000">
            <nav aria-label="Page navigation example">
              <div ngbDropdown *ngIf="paginatorConfig" class="d-inline-block float-left page-control">
                <button class="btn" id="dropdownBasic1" ngbDropdownToggle> Items per page: {{ paginatorConfig.selectedAmount }} </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button *ngFor="let amount of paginatorConfig.amountChoices" ngbDropdownItem class="text-center" (click)="onChangePagingatorConfig(amount)"> {{ amount }} </button>
                </div>
              </div>
              <ul class="pagination pg-blue float-right">
                <div class="page-control">
                  <li *ngIf="pagination._links.first.href" class="page-item"><a class="page-link" (click)="changePage(pagination._links.first.href)"> |<< </a></li>
                  <li *ngIf="pagination._links.prev.href" class="page-item"><a class="page-link" (click)="changePage(pagination._links.prev.href)"> < </a></li>
                  <li *ngIf="pagination.page.number" class="page-item"><a class="page-link"> {{ pagination.page.number }} </a></li>
                  <li *ngIf="pagination._links.next.href" class="page-item"><a class="page-link" (click)="changePage(pagination._links.next.href)"> > </a></li>
                  <li *ngIf="pagination._links.last.href" class="page-item"><a class="page-link" (click)="changePage(pagination._links.last.href)"> >>| </a></li>
                </div>
              </ul>
            </nav>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </mdb-card>
</div>

