@import "theme";

.table-container {
  position: relative;
  left: 10%;
  width: 80%;
}

.center-checkbox {
  text-align: right;
}

mat-grid-list {
  position: relative;
  left: 10%;
  width: 80%;
}

.data-header {
  background-color: mat-color($qc-atlas-ui-primary);
  font-weight: bold;
}

.data-element {
  transition: all .2s ease-in-out;
}

.page-control {
  display: flex;
  border-radius: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: mat-color($qc-atlas-ui-primary);
}

.data-element:hover {
  background-color: #a3dbff;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

p {
  margin-top: 0 ;
  margin-bottom: 0 ;
}
