table {
  position: relative;
  left: 10%;
  width: 80%;
}

mat-grid-list {
  position: relative;
  left: 10%;
  width: 80%;
}

mat-card {
  transition: all .2s ease-in-out;
}

mat-card:hover {
  background-color: #a3dbff;
  transform: scale(1.05);
  cursor: pointer;
}
