<div class="table-container table-wrapper">
  <mdb-card cascade="true" narrower="true">
    <div class="px-5">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        </div>
      </div>
      <table class="mb-3" mdbTable>
        <thead class="data-header">
        <tr>
          <th class="center-checkbox" scope="row" *ngIf="allowSelection">
            <mdb-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"></mdb-checkbox>
          </th>
          <th class="th-lg" *ngFor="let column of dataColumns">
            <a>{{ column }}</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="data-element" *ngFor="let dataEntry of data">
          <th class="center-checkbox" scope="row" *ngIf="allowSelection">
            <mdb-checkbox [checked]="selection.isSelected(dataEntry)" (click)="$event.stopPropagation()"
                          (change)="$event ? rowToggle(dataEntry, !selection.isSelected(dataEntry)) : null"></mdb-checkbox>
          </th>
          <td *ngFor="let variableName of variableNames">{{ dataEntry[variableName] }}</td>
        </tr>
        </tbody>
        <tfoot *ngIf="pagination">
        <tr>
          <td colspan="1000">
            <nav aria-label="Page navigation example">
              <ul class="pagination pg-blue">
                <li *ngIf="pagination.links.first" class="page-item"><a class="page-link" (click)="changePage(pagination.links.first)">First</a></li>
                <li *ngIf="pagination.links.prev" class="page-item"><a class="page-link" (click)="changePage(pagination.links.prev)">Previous</a></li>
                <li *ngIf="pagination.links.next" class="page-item"><a class="page-link" (click)="changePage(pagination.links.next)">Next</a></li>
                <li *ngIf="pagination.links.last" class="page-item"><a class="page-link" (click)="changePage(pagination.links.last)">Last</a></li>
              </ul>
            </nav>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </mdb-card>
</div>

