<table class="table">
  <thead>
    <tr>
      <th *ngIf="allowSelection" scope="col">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <th *ngFor="let column of dataColumns" scope="col">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataEntry of data">
      <th *ngIf="allowSelection" scope="col">
        <mat-checkbox [checked]="selection.isSelected(dataEntry)" (click)="$event.stopPropagation()"
                      (change)="$event ? rowToggle(dataEntry, !selection.isSelected(dataEntry)) : null"></mat-checkbox>
      </th>
      <th *ngFor="let variableName of variableNames" scope="row">{{ dataEntry[variableName] }}</th>
    </tr>
  </tbody>
</table>
